@model sight.Models.client

@{
    ViewBag.Title = "Edit Profile";
    Layout = "~/Views/Shared/_LayoutUsersPages.cshtml";
}



<style>
    .profiless img {
        height: 120px;
    }

    .mmm {
        width: 100%;
    }

    .mm {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    @@import url('https://fonts.googleapis.com/css?family=Montserrat');


    /*custom inpu file*/
    .custom-file-input {
        color: transparent;
    }

        .custom-file-input::-webkit-file-upload-button {
            visibility: hidden;
        }

        .custom-file-input::before {
            content: "▲ Upload Photo";
            color: #fff;
            display: inline-block;
            background: #ffc107;
            padding: 10px 22px;
            outline: none;
            white-space: nowrap;
            -webkit-user-select: none;
            cursor: pointer;
            font-weight: 400;
            border-radius: 2px;
            outline: none;
            box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
        }

        .custom-file-input:focus {
            outline: none !important;
        }

        .custom-file-input:active::before {
            transform: scale(.9) translate(0px, 2px);
            box-shadow: inset 4px 4px 5px 0px rgba(0, 0, 0, 0.20);
        }
</style>

<main id="main" class="main" style="padding-top: 60px;">

    <div class="container">


        <section class="section profile">
            <div class="row">
                <div class="col-xl-4">

                    <div class="card profiless">
                        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center mmm">

                            <img src="~/assetsUser/img/@Model.photo" alt="Profile" class="rounded-circle mm">
                            <h2>@Model.fullName</h2>
                        </div>
                    </div>


                    <br>

                    <div class="card">
                        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                            <p><strong>Booking Request Details</strong></p>

                            @Html.Action("BookingUser", "photo_sessions")
                        </div>
                    </div>
                </div>

                <div class="col-xl-8">

                    <div class="card">
                        <div class="card-body pt-3">
                            @*Bordered Tabs*@
                            <ul class="nav nav-tabs nav-tabs-bordered">

                                <li class="nav-item">
                                    <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
                                </li>

                                <li class="nav-item">
                                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-booking">Previous Booking</button>
                                </li>

                                <li class="nav-item">
                                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-feedback">Feedback</button>
                                </li>


                                <li class="nav-item">
                                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#settings">Settings</button>
                                </li>

                            </ul>

                            <div class="tab-content pt-2">


                                <div class="tab-pane fade show active profile-edit pt-3" id="profile-edit">



                                    @using (Html.BeginForm("Edit", "clients", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                    {
                                        @Html.AntiForgeryToken()

                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        @Html.HiddenFor(model => model.id)



                                        //Profile Edit Form
                                        <div class="row mb-3">
                                            <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile Image <span style="; color: #bcbcbc; font-size: 10px"><br />Photo size shouldn't exceed 2 MB</span></label>
                                            <div class="col-md-8 col-lg-9">
                                                <img src="~/assetsUser/img/@Model.photo" name="profilePhoto" alt="Profile" id="myImage">
                                                <div class="pt-2">
                                                    <input type="file" name="photo" class="custom-file-input" accept="image/*" id="myFileInput" onchange="checkFileSize()">


                                                    <script>
                                                        function checkFileSize() {
                                                            const fileInput = document.getElementById('myFileInput');
                                                            const fileSize = fileInput.files[0].size / 1024 / 1024; // in MB
                                                            const imagePreview = document.getElementById('myImage');
                                                            if (fileSize > 2) { // check if the file size is greater than 2 MB
                                                                Swal.fire({
                                                                    title: 'Sorry',
                                                                    text: 'File size should not exceed 2 MB',
                                                                    icon: 'warning',
                                                                    confirmButtonColor: '#ffc107',
                                                                });
                                                                fileInput.value = ''; // clear the input field
                                                                imagePreview.style.display = 'none'; // hide the image preview
                                                            } else {
                                                                imagePreview.style.display = 'block'; // show the image preview
                                                            }
                                                        }

                                                    </script>
                                                </div>
                                            </div>
                                        </div>





                                        <script>
                                            const fileInput = document.getElementById('myFileInput');
                                            const imagePreview = document.getElementById('myImage');

                                            fileInput.addEventListener('change', function () {
                                                const file = this.files[0];

                                                if (file) {
                                                    const reader = new FileReader();
                                                    reader.addEventListener('load', function () {
                                                        imagePreview.src = URL.createObjectURL(file);
                                                    });
                                                    reader.readAsDataURL(file);
                                                } else {
                                                    imagePreview.src = 'default-image-source.jpg';
                                                }
                                            });

                                        </script>












                                        <div class="row mb-3">

                                            <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Full Name</label>
                                            <div class="col-md-8 col-lg-9">
                                                @Html.EditorFor(model => model.fullName, new { htmlAttributes = new { @class = "form-control", @value = Model.fullName, @maxlength = "25", @placeholder = "Ex: Mayyas Obeidat" } })
                                                @Html.ValidationMessageFor(model => model.fullName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <label for="Phone" class="col-md-4 col-lg-3 col-form-label">Phone</label>
                                            <div class="col-md-8 col-lg-9">
                                                <input class="form-control" name="PhoneNumber" type="tel" pattern="^(\+?9627|009627|07)[7-9]{1}[0-9]{7}$" value="@Model.PhoneNumber" placeholder="Enter Jordanian phone number" />
                                                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })

                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="Email" class="col-md-4 col-lg-3 col-form-label">Email</label>
                                            <div class="col-md-8 col-lg-9">
                                                @*@Html.EditorFor(model => model.AspNetUser.Email, new { htmlAttributes = new { @class = "form-control", @type = "email", @value = Model.AspNetUser.Email, @readonly = "readonly" } })
                                                    @Html.ValidationMessageFor(model => model.AspNetUser.Email, "", new { @class = "text-danger" })*@
                                                <label>@User.Identity.Name</label>
                                            </div>
                                        </div>


                                        <div class="text-center">
                                            <input type="submit" value="Save Changes" class="btn btn-warning" />

                                        </div>
                                        //End Profile Edit Form




                                    }








































                                </div>

                                <div class="tab-pane fade pt-3" id="profile-booking">

                                    @Html.Action("pastBookingUser", "photo_sessions")

                                </div>


                                <div class="tab-pane fade pt-3" id="profile-feedback">

                                    @Html.Action("feedback", "comments")

                                </div>










                                <div class="tab-pane fade pt-3" id="settings">
                                    <h4>Change Password</h4>
                                    <p>To change the password, go to the password change form from here</p>
                                    <a href="~/Manage/ChangePassword/" class="btn btn-outline-dark">
                                        Change Password
                                    </a><br /><br />                                    <hr />
                                    <h4>Delete Accaount</h4>
                                    <p>If you click on this button, your account will be permanently deleted and will not be recovered</p>



                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                        Delete Account
                                    </button>

                                    <!-- Modal -->
                                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="staticBackdropLabel">
                                                        Delete Accaount
                                                    </h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    Are you sure you want to permanently delete the account?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    <a class="btn btn-danger" href="/Account/DeleteAccountClient/">Delete Account</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>


                            </div>

                            @*End Bordered Tabs*@

                        </div>
                    </div>

                </div>
            </div>
        </section>

    </div>
</main>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.all.min.js"></script>