@model sight.Models.photosAdmin

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdminDashboard.cshtml";

}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>photosAdmin</h4>
    <hr />
    <div class="row">
        <dl class="col-md-6 col-sm-12">

            <dt><b style="color: #d9d9d9;">Date:</b></dt>

            <dd>
                @Html.DisplayFor(model => model.created_at)
            </dd>

            <dt><b style="color: #d9d9d9;">Title:</b></dt>


            <dd>
                @Html.DisplayFor(model => model.title)
            </dd>

            <dt><b style="color: #d9d9d9;">Photographer:</b></dt>


            <dd>
                @Html.DisplayFor(model => model.photographer.FullName)
            </dd>

            <dt><b style="color: #d9d9d9;">Type of photography:</b></dt>


            <dd>
                @Html.DisplayFor(model => model.PhotographyType1.TypeName)
            </dd>

        </dl>
        <div class="col-md-6 col-sm-12">
            <img src="~/assetsUser/img/portfolio/@Model.photo" name="photo" alt="photo" id="myImage" class="img-fluid">

        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back", "Index")
        </div>
    }
</div>
