@model sight.Models.photosAdmin

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdminDashboard.cshtml";

}

<h2>Details</h2>

<div>
    <h4>photosAdmin</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.photographerProfile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.photographerProfile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.photo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.photo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhotographyType1.TypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhotographyType1.TypeName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
