@model sight.Models.photo

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutUsersPages.cshtml";
}






<style>
    /*custom inpu file*/
    .custom-file-input {
        color: transparent;
    }

        .custom-file-input::-webkit-file-upload-button {
            visibility: hidden;
        }

        .custom-file-input::before {
            content: "▲ Upload Photo";
            color: #fff;
            display: inline-block;
            background: #ffc107;
            padding: 10px 22px;
            outline: none;
            white-space: nowrap;
            -webkit-user-select: none;
            cursor: pointer;
            font-weight: 400;
            border-radius: 2px;
            outline: none;
            box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
        }

        .custom-file-input:focus {
            outline: none !important;
        }

        .custom-file-input:active::before {
            transform: scale(.9) translate(0px, 2px);
            box-shadow: inset 4px 4px 5px 0px rgba(0, 0, 0, 0.20);
        }
</style>


<main id="main" class="main" style="padding-top: 60px;">




    <div class="container">
        <section class="section profile">

            <div class="row">
                @using (Html.BeginForm("Create", "photos", FormMethod.Post, new { enctype = "multipart/form-data" }))

                {
                    @Html.AntiForgeryToken()


                    <div class="row g-4">
                        <div class="col-sm-12 col-xl-12">
                            <div class="container">

                                <div class="row">

                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                                    <div class="mb-3 col-sm-12 col-xl-3">
                                        @Html.DropDownList("photographyType", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.photographyType, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="mb-3 col-sm-12 col-xl-3">
                                        @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter a title" } })
                                        @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })

                                    </div>

                                    <div class="mb-3 col-sm-12 col-xl-2">
                                        <input type="file" onchange="uploadImage(this)" accept="image/*" class="custom-file-input" name="photo_url">

                                    </div>
                                    <div class="mb-3 col-sm-12 col-xl-2">
                                        <input type="submit" value="Create" class="btn btn-warning" />
                                    </div>
                                    <div class="mb-3 col-sm-12 col-xl-2">
                                        @Html.ActionLink("Back", "Edit", "photographersProfile")
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>




                }

            

                @Html.Action("Index")





            </div>
                    </section>

                        </div>
</main>
