@model sight.Models.photographer

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdminDashboard.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>photographer</h4>
    <hr />


    <div class="row">
        <dl class="col-md-6 col-sm-12">



            <dt><b style="color: #d9d9d9;">Full Name:</b></dt>


            <dd>
                @Html.DisplayFor(model => model.FullName)
            </dd>

            <dt><b style="color: #d9d9d9;">Email:</b></dt>


            <dd>
                @Html.DisplayFor(model => model.AspNetUser.Email)
            </dd>
            <dt><b style="color: #d9d9d9;">Date:</b></dt>

            <dd>
                @String.Format("{0:MM/dd/yyyy}", Model.created_at)
            </dd>






            <dt><b style="color: #d9d9d9;">About:</b></dt>


            <dd>
                @Html.DisplayNameFor(model => model.bio)
            </dd>

            <dt><b style="color: #d9d9d9;">Phone:</b></dt>


            <dd>
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>
            <dt><b style="color: #d9d9d9;">Age:</b></dt>

            <dd>
                @Html.DisplayFor(model => model.age)
            </dd>


            <dt><b style="color: #d9d9d9;">Facebook:</b></dt>


            <dd>
                @Html.DisplayFor(model => model.facebook)
            </dd>

            <dt><b style="color: #d9d9d9;">Instagram:</b></dt>


            <dd>
                @Html.DisplayFor(model => model.instagram)
            </dd>
            <dt><b style="color: #d9d9d9;">Twitter:</b></dt>

            <dd>
                @Html.DisplayFor(model => model.twitter)
            </dd>

            <dt><b style="color: #d9d9d9;">Linkedin:</b></dt>


            <dd>
                @Html.DisplayFor(model => model.linkedin)
            </dd>


            <dt><b style="color: #d9d9d9;">Active:</b></dt>

            <dd>
                @Html.DisplayFor(model => model.is_hidden)
            </dd>

            <dt><b style="color: #d9d9d9;">Status:</b></dt>

            <dd>
                @Html.DisplayFor(model => model.accept)
            </dd>
        </dl>
        <div class="col-md-6 col-sm-12">
            <img src="~/assetsUser/img/@Model.profilePhoto" name="photo" alt="photo" width="50%" class="img-fluid"><br /><br />
            <img src="~/assetsUser/img/@Model.coverPhoto" name="photo" alt="photo" width="50%" class="img-fluid">

        </div>
    </div>





    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back", "Index")
        </div>
    }
</div>
