@model sight.Models.photographer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdminDashboard.cshtml";
}

<h2>Details</h2>

<div>
    <h4>photographer</h4>
    <hr />
    <div class="row">
        <dl class="col-md-4 col-sm-12">



            <dt><b style="color: #d9d9d9;">Full Name:</b></dt>


            <dd>
                @Html.DisplayFor(model => model.FullName)
            </dd>

            <dt><b style="color: #d9d9d9;">Email:</b></dt>


            <dd>
                @Html.DisplayFor(model => model.AspNetUser.Email)
            </dd>
            <dt><b style="color: #d9d9d9;">Date:</b></dt>

            <dd>
                @String.Format("{0:MM/dd/yyyy}", Model.created_at)
            </dd>






            <dt><b style="color: #d9d9d9;">About:</b></dt>


            <dd>
                @Html.DisplayNameFor(model => model.bio)
            </dd>

            <dt><b style="color: #d9d9d9;">Phone:</b></dt>


            <dd>
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>
            <dt><b style="color: #d9d9d9;">Age:</b></dt>

            <dd>
                @Html.DisplayFor(model => model.age)
            </dd>


        </dl>

        <dl class="col-md-4 col-sm-12">



            <dt><b style="color: #d9d9d9;">Facebook:</b></dt>


            <dd>
                @Html.DisplayFor(model => model.facebook)
            </dd>

            <dt><b style="color: #d9d9d9;">Instagram:</b></dt>


            <dd>
                @Html.DisplayFor(model => model.instagram)
            </dd>
            <dt><b style="color: #d9d9d9;">Twitter:</b></dt>

            <dd>
                @Html.DisplayFor(model => model.twitter)
            </dd>

            <dt><b style="color: #d9d9d9;">Linkedin:</b></dt>


            <dd>
                @Html.DisplayFor(model => model.linkedin)
            </dd>


            <dt><b style="color: #d9d9d9;">Active:</b></dt>


            @if (Model.accept)
            {
                <dd style="color:limegreen">Accepted</dd>
            }
            else
            {
                <dd style="color:red">Not Accepted</dd>

            }

            <dt><b style="color: #d9d9d9;">Status:</b></dt>

            @if (Model.is_hidden)
            {
                <dd style="color:red">Deactivated</dd>
            }
            else
            {
                <dd style="color:limegreen">Activated</dd>

            }
        </dl>


        <div class="col-md-4 col-sm-12">
            <img src="~/assetsUser/img/@Model.profilePhoto" name="photo" alt="photo" width="50%" class="img-fluid"><br /><br />
            <img src="~/assetsUser/img/@Model.coverPhoto" name="photo" alt="photo" width="50%" class="img-fluid">

        </div>
    </div>

    <p>
        @if (!Model.accept)
        {
            @Html.ActionLink("Accept", "Accept", new { id = Model.id }, new { @class = "btn btn-success" })

        }
        else
        {
            @Html.ActionLink("Reject", "Reject", new { id = Model.id }, new { @class = "btn btn-danger" })

        } |
        @if (Model.is_hidden)
        {
            @Html.ActionLink("Activate", "Activate", new { id = Model.id }, new { @class = "btn btn-success" })

        }
        else
        {
            @Html.ActionLink("Deactivate", "Deactivate", new { id = Model.id }, new { @class = "btn btn-light" })

        } |
        @Html.ActionLink("Back", "Index")
    </p>
</div>