@model sight.Models.photographer

@{
    ViewBag.Title = "Photographer Details";
    Layout = "~/Views/Shared/_LayoutAdminDashboard.cshtml";
}

<h2>Details</h2>

<div>
    <h4>photographer</h4>
    <hr />
    <div class="row">
        <dl class="col-md-4 col-sm-12">



            <dt><b style="color: #d9d9d9;">Full Name:</b></dt>


            <dd>
                <a href="/photographers/PhotographerProfile/@Html.DisplayFor(model => model.id)">@Html.DisplayFor(model => model.FullName)</a>
            </dd>

            <dt><b style="color: #d9d9d9;">Email:</b></dt>


            <dd>
                <a href="mailto:@Html.DisplayFor(model => model.AspNetUser.Email)">@Html.DisplayFor(model => model.AspNetUser.Email)</a>

            </dd>
            <dt><b style="color: #d9d9d9;">Date:</b></dt>

            <dd>
                @String.Format("{0:MM/dd/yyyy}", Model.created_at)
            </dd>






            <dt><b style="color: #d9d9d9;">About:</b></dt>


            <dd>
                @Html.DisplayNameFor(model => model.bio)
            </dd>

            <dt><b style="color: #d9d9d9;">Phone:</b></dt>


            <dd>
                <a href="tel:@Html.DisplayFor(model => model.PhoneNumber)">@Html.DisplayFor(model => model.PhoneNumber)</a>
            </dd>
            <dt><b style="color: #d9d9d9;">Age:</b></dt>

            <dd>
                @Html.DisplayFor(model => model.age)
            </dd>


        </dl>

        <dl class="col-md-4 col-sm-12">



            <dt><b style="color: #d9d9d9;">Facebook:</b></dt>


            <dd>
                <a href="@Html.DisplayFor(model => model.facebook)" target="_blank">@Html.DisplayFor(model => model.facebook)</a>
            </dd>

            <dt><b style="color: #d9d9d9;">Instagram:</b></dt>


            <dd>
                <a href="@Html.DisplayFor(model => model.instagram)" target="_blank">@Html.DisplayFor(model => model.instagram)</a>
            </dd>
            <dt><b style="color: #d9d9d9;">Twitter:</b></dt>

            <dd>
                <a href="@Html.DisplayFor(model => model.twitter)" target="_blank">@Html.DisplayFor(model => model.twitter)</a>
            </dd>

            <dt><b style="color: #d9d9d9;">Linkedin:</b></dt>


            <dd>
                <a href="@Html.DisplayFor(model => model.linkedin)" target="_blank">@Html.DisplayFor(model => model.linkedin)</a>
            </dd>


            <dt><b style="color: #d9d9d9;">Status:</b></dt>


            @if (Model.accept)
            {

                if (Model.state == "block")
                {
                    <dd style="color:red">Blocked</dd>

                }
                else
                {
                    <dd style="color:limegreen">Accepted</dd>

                }
            }
            else
            {
                if (Model.state == "block")
                {
                    <dd style="color:red">Blocked</dd>

                }
                else
                {
                    <dd style="color:red">Not Accepted</dd>

                }

            }



            <dt><b style="color: #d9d9d9;">Active:</b></dt>

            @if (Model.is_hidden)
            {
                <dd style="color:red">Deactivated</dd>
            }
            else
            {
                <dd style="color:limegreen">Activated</dd>

            }
        </dl>


        <div class="col-md-4 col-sm-12">
            <a href="~/assetsUser/img/@Model.profilePhoto" download="@Model.FullName"><img src="~/assetsUser/img/@Model.profilePhoto" name="photo" alt="photo" width="50%" class="img-fluid" /></a>

            <br /><br />
            <a href="~/assetsUser/img/@Model.coverPhoto" download="@Model.FullName"><img src="~/assetsUser/img/@Model.coverPhoto" name="photo" alt="photo" width="50%" class="img-fluid" /></a>


        </div>
    </div>

    <p>
        @if (!Model.accept)
        {
            @Html.ActionLink("Accept", "Accept", new { id = Model.id }, new { @class = "btn btn-success" })

        } |

        @if (Model.state == "block")
        {
            @Html.ActionLink("Unblock", "UnblockUser", "Account", new { id = Model.user_id }, new { @class = "btn btn-danger" })

        }
        else
        {
            @Html.ActionLink("Block", "BlockUser", "Account", new { id = Model.user_id }, new { @class = "btn btn-danger" })

        } |

        @if (Model.is_hidden)
        {
            @Html.ActionLink("Activate", "Activate", new { id = Model.id }, new { @class = "btn btn-success" })

        }
        else
        {
            @Html.ActionLink("Deactivate", "Deactivate", new { id = Model.id }, new { @class = "btn btn-light" })

        } |

        @{
            var latestSubscription = Model.Subscriptions.OrderByDescending(s => s.endDate).FirstOrDefault();

            if (latestSubscription.endDate < DateTime.Now)
            {
                @Html.ActionLink("Free +7", "ActivateFree", new { id = Model.id }, new { @class = "btn btn-success" })
            }

        }







        @*@Html.ActionLink("Back", "Index")*@
    </p>
</div>


