@using sight.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";

}




<style>
    body{
        background-image: url('@Url.Content("~/assetsUser/img/body.jpg")');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    .login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }

    input[type="text"], input[type="password"], input[type="email"] {
            width: 100%;
            padding: 12px 20px;
            margin-bottom: 20px;
            border: none;
            border-radius: 4px;
            font-size: 1.2em;
            color: #fff;
            /* From https://css.glass */
            background: rgba(255, 255, 255, 0.18);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(1.2px);
-webkit-backdrop-filter: blur(1.2px);
        }

        ::placeholder {
  color: white;
  opacity: 0.8; /* Firefox */
text-align: center;
}

h1{
    color: #fff;
    text-align: center;
}

        input[type="submit"] {
            width: 100%;
            padding: 14px 20px;
            margin-top: 20px;
            border: none;
            border-radius: 4px;
            background-color: #ffffff;
            color: rgb(0, 0, 0);
            font-size: 1.2em;
            font-weight: 600;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
        }

            input[type="submit"]:hover {
                background-color: #ffc451;
            }

  

        .social-icon{
    background-color: white;
    border: 2px white solid;
    border-radius: 50%;
    margin: 3px;
  }
        .myLogo{
  width: 100%;
}
        @@media only screen and (min-device-width: 0px) and (max-device-width:480px)
        {
            body{

            }

            .login{
                width: 70%;
            }


.myLogo{
  width: 60%;
}

input[type="text"], input[type="password"], input[type="email"],button[type="submit"] {
  padding: 8px 20px;
    margin-bottom: 13px;
    margin-top: 0;

}

        }

        @@media only screen and (min-device-width: 481px) and (max-device-width:768px)
        {
            body{

            }


        }

</style>

    <!-- Body -->
<div class="container">
    <div class="login">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h1>Log In</h1>
            if (TempData["DeletMessage"] != null)
            {
                <div class="alert alert-success">
                    @TempData["DeletMessage"]
                </div>
            }
            <br>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div>
                @Html.TextBoxFor(m => m.Email, new { @type = "email", @class = "", @placeholder = "Email", @id = "email" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>

            <div>
                @Html.PasswordFor(m => m.Password, new { @class = "", @placeholder = "Password", @id = "password" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>








            <input type="submit" value="Log in" />
            <br>
            <br>





            <style>
                .checkbox-wrapper-41 {
                    --size: 45px;
                }

                    .checkbox-wrapper-41 input[type="checkbox"] {
                        -webkit-appearance: none;
                        width: var(--size);
                        height: calc(var(--size) / 2);
                        background-color: #fff;
                        border: 3px solid #222;
                        border-radius: 30px 100px 100px 100px;
                        box-shadow: 0 10px 20px rgba(0,0,0,0.2);
                        outline: none;
                        cursor: pointer;
                        position: relative;
                        transition: all 0.5s;
                    }

                        .checkbox-wrapper-41 input[type="checkbox"]::before {
                            content: "";
                            position: absolute;
                            width: calc(var(--size) / 2);
                            height: calc(var(--size) / 2);
                            left: 0;
                            top: 50%;
                            transform: translateY(-50%) scale(0.7);
                            border: 3px solid #222;
                            border-radius: 30px 100px 100px 100px;
                            background-color: #f2c511;
                            box-sizing: border-box;
                            transition: all 0.5s;
                        }

                        .checkbox-wrapper-41 input[type="checkbox"]:checked {
                            background-color: #f2c511;
                            border-radius: 100px 100px 30px 100px;
                        }

                            .checkbox-wrapper-41 input[type="checkbox"]:checked::before {
                                left: 50%;
                                background-color: #fff;
                                border-radius: 100px 100px 30px 100px;
                            }
            </style>




            <!-- Switch Default -->
    <div style="display: flex; align-items: center;">
        <div class="checkbox-wrapper-41">

            @Html.CheckBoxFor(m => m.RememberMe, new { id = "rememberMeToggle" })
        </div>



         <span style="color: #ccc;"> &nbsp;  Remember me</span>
    </div>


        }

        <p style="color: #ccc;padding: 20px;">Don't have an account ? <a href="/Account/Register">Create Account</a></p>
        @*@Html.ActionLink("Forgot Yore Password?", "ForgotPassword")*@

        <!--<p class="w-100 text-center" style="color:white;">&mdash; Or Sign In With &mdash;</p>
    <div class="w-100">
        <p class="social-media d-flex justify-content-center">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })-->
        @*<a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-facebook-official"></span></a>
        <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a>
        <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-google"></span></a>*@

        <!--</p>
    </div>-->
        <!-- End Body-->







    </div>



</div>