@model sight.Models.city

@{
    ViewBag.Title = "Edit City";
    Layout = "~/Views/Shared/_LayoutAdminDashboard.cshtml";
}

<h2>Edit</h2>





<div class="row g-4">
    <div class="col-sm-12 col-xl-12">
        <div class="bg-secondary rounded h-100 p-4">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <h4>city</h4>
                <hr />

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.id)

                <div class="row">
                    <div class="form-group col-xl-12">
                        <input type="text" class="form-control" placeholder="Enter the city name" maxlength="1000" name="cityName" id="cityName" required value="@Model.cityName" /><br />
                        @Html.ValidationMessageFor(model => model.cityName, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-xl-2">
                        <input type="submit" value="Create" class="btn btn-warning" />|    @Html.ActionLink("Back", "Create")
                        <br />
                    </div>
                </div>
            }
        </div>
    </div>
</div>


