@model sight.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";

    Layout = "~/Views/Shared/_LayoutUsersPages.cshtml";
}


<style>
    .details {
        font-size: 14px;
        color: #4a4a4a;
    }

    @@import url('https://fonts.googleapis.com/css?family=Montserrat');

    .bbb {
        background-image: url("conn.png");
        background-size: cover;
    }

    .bookCard {
        width: 60%;
        padding: 4.5%;
    }

    @@media only screen and (min-device-width: 481px) and (max-device-width:768px) {

        .bookCard {
            width: 90%;
            padding: 10%;
        }
    }

    @@media only screen and (min-device-width: 0px) and (max-device-width:480px) {

        .bookCard {
            width: 90%;
            padding: 10%;
        }
    }
</style>

<main id="main" class="main" style="padding-top: 60px;">

    <div class="container">


        <section class="section profile">



            <div class="row d-flex align-items-center justify-content-center">

                <div class="card bookCard">



                    <div id="form3">


                        <div>
                            @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <h4>Change Password Form</h4>
                                <hr />
                                @Html.ValidationSummary("", new { @class = "text-danger" })
                                <div class="row mb-3">
                                    @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-4 col-lg-3 col-form-label" })
                                    <div class="col-md-8 col-lg-9">
                                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-4 col-lg-3 col-form-label" })
                                    <div class="col-md-8 col-lg-9">
                                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 col-lg-3 col-form-label" })
                                    <div class="col-md-8 col-lg-9">
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <p class="col-md-4 col-lg-3 col-form-label">&nbsp;</p>
                                    <div class="col-md-8 col-lg-9">
                                        <input type="submit" value="Change password" class="btn btn-warning form-control" />
                                    </div>
                                </div>

                            }
                        </div>


                    </div>


                </div>
            </div>

        </section>

    </div>
</main>
<!-- End #main -->




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}