@model sight.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
    Layout = null;

}


@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Change Password Form</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="row mb-3">
        @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-4 col-lg-3 col-form-label" })
        <div class="col-md-8 col-lg-9">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="row mb-3">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-4 col-lg-3 col-form-label" })
        <div class="col-md-8 col-lg-9">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="row mb-3">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 col-lg-3 col-form-label" })
        <div class="col-md-8 col-lg-9">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
        <div class="text-center">
            <input type="submit" value="Change password" class="btn btn-warning" />
        </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}