@{
    ViewBag.Title = "Home Page";
}

@model IEnumerable<sight.Models.PhotographyType>



<style>
    .aboutSection {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .profile-card {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        background-color: #ededed;
        padding: 10px;
        transition: all 0.3s;
    }

        .profile-card img {
            opacity: 0.8;
            filter: grayscale(20%);
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
            position: relative;
            z-index: 10;
            transition: all 0.3s;
        }

    .profile-details {
        text-align: center;
        text-transform: capitalize;
        transform: translateY(-80%);
        opacity: 0;
        transition: all 0.3s;
    }

        .profile-details h3 {
            font-size: 20px;
        }

        .profile-details p {
            font-size: 14px;
            margin: 5px 0 10px;
        }

        .profile-details a {
            color: #555;
            font-size: 20px;
        }

            .profile-details a:not(:last-child) {
                margin-right: 10px;
            }

    .profile-card:hover {
        height: 270px;
        border-radius: 15px;
        padding: 25px;
    }

        .profile-card:hover img {
            opacity: 1;
            filter: grayscale(0%);
            width: 200px;
            height: 200px;
            border-radius: 15px;
            transform: translateY(-50%);
        }

        .profile-card:hover .profile-details {
            opacity: 1;
        }

    .city {
        padding: 4px;
        border-radius: 4px;
        box-shadow: 2px 2px 8px #999;
        background: #eee;
        border: none;
        outline: none;
        display: inline-block;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        cursor: pointer;
    }

    .city1 {
        position: relative;
        width: 50%;
    }
/*
        .city1:after {
            content: '<>';
            font: 11px "Consolas", monospace;
            color: #666;
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            transform: rotate(90deg);
            right: 20px;
            top: 15px;
            padding: 0 0 2px;
            border-bottom: 1px solid #ddd;
            position: absolute;
            pointer-events: none;
        }

        .city1:before {
            content: '';
            right: 20px;
            top: 15px;
            width: 20px;
            height: 20px;
            background: #eee;
            position: absolute;
            pointer-events: none;
            display: block;
        }
*/
    h2.myWords {
        color: #F2C511;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        text-transform: uppercase;
        font-family: "Poppins", sans-serif;
        padding-bottom: 15px;
    }

        h2.myWords:hover {
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            background-image: linear-gradient( 274deg, #F2C511, #C0382B, #F2C511, #C0382B, #F2C511, #C0382B );
            -webkit-background-image: linear-gradient( 274deg, #F2C511, #C0382B, #F2C511, #C0382B, #F2C511, #C0382B );
        }

    .aboutText {
        color: white;
        font-size: large;
        padding: 50px;
        margin: 50px;
        background: rgb(0 0 0 / 26%);
        border-radius: 16px;
        box-shadow: 0px 0px 14px 0px rgba(205, 255, 0, 0.1);
    }

    .imgAbout2 {
        display: none;
    }

    .ourTeamPhotographer {
        display: flex;
        gap: 20px;
        justify-content: center;
        padding: 40px 0;
    }

    @@media only screen and (min-device-width: 0px) and (max-device-width:480px) {


        .city1 {
            width: 100%;
        }

        .aboutSection {
            flex-direction: column;
            align-items: center;
            gap: 10px;
            flex-direction: column-reverse;
        }

        .imgAbout2 {
            display: block;
        }

        .imgAbout {
            display: none;
        }

        .aboutText {
            font-size: medium;
            padding: 30px;
            margin: 10px;
            border-radius: 10px;
        }

        h2.myWords {
            font-size: 25px;
            padding: 10px;
        }

        .ourTeamPhotographer {
            flex-direction: column;
            gap: 20px;
            padding: 40px 0;
            align-items: center;
        }
    }
</style>


<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
            <div class="col-xl-8 col-lg-8">
                <h1 style="color: #ddd;">Find a local <span style="color: #F2C511;">photographer</span> in your region.</h1><br>
                <h2 style="color: #ddd;">Choose the photographer you like. We'll look after the rest.</h2>

            </div>
        </div>
        <div class="row gy-4 mt-5" style="display: flex; justify-content: center;" style="width: 50% !important;">
            <label class="city1 row">

                @Html.Action("ChoosePhotographer")
            </label>
        </div>

    </div>
</section>
<!-- End Hero -->

<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about">
        <div style="display: flex; flex-direction: column; " data-aos="fade-up">
            <div>
                <h2 class="myWords">Where creativity and technology enter the picture.</h2>
            </div>
            <div class="aboutSection">
                <img src="~/assetsUser/img/2222.png" width="40%">
                <p class="aboutText" data-aos="fade-left" data-aos-delay="100">

                    Hello and welcome to our website!<br>
                    We created this site to bring photographers in our community and people who need their services together.
                    Our goal was to make it easy to find a trusted photographer and see their work, as well as to make communication and booking sessions easier.
                    <br><br><a href="#about" style="color: #FEF445; text-decoration: none;">Get to know us more..</a>
                </p>
            </div>
            <div>
                <img src="~/assetsUser/img/1111.png" width="100%" class="imgAbout">
                <img src="~/assetsUser/img/1111res.png" width="100%" class="imgAbout2">

            </div>
        </div>
    </section>
    <!-- End About Section -->
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container">

            <div class="section-title">
                <h2>Services</h2>
                <p style="color: #ddd;"><span style="color: #F2C511;">C</span>heck <span style="color: #F2C511;">o</span>ur <span style="color: #F2C511;">S</span>ervices</p>
            </div>


            <div class="row">
                <div class="col-6">
                    <h3 class="mb-3"></h3>
                </div>

                <div class="col-6 text-md-end">
                    <a class="btn btn-warning mb-3 me-1"
                       href="#carouselExampleIndicators2" role="button"
                       data-bs-slide="prev">
                        <i class="fa fa-arrow-left"></i>
                    </a>
                    <a class="btn btn-warning mb-3 " href="#carouselExampleIndicators2"
                       role="button" data-bs-slide="next">
                        <i class="fa fa-arrow-right"></i>
                    </a>
                </div>

                <div class="col-12">
                    <div id="carouselExampleIndicators2" class="carousel slide"
                         data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">
                                    @foreach (var item in Model.Take(3))
                                    {
                                        <div class="col-md-4 mb-3">
                                            <div class="card">
                                                <img class="img-fluid" alt="100%x280"
                                                     src="~/assetsUser/img/@Html.DisplayFor(modelItem => item.ImageUrl)">
                                                <div class="card-body">
                                                    <h4 class="card-title">
                                                        @Html.DisplayFor(modelItem => item.TypeName)
                                                    </h4>
                                                    <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                                                </div>
                                            </div>
                                        </div>

                                    }

                                </div>
                            </div>

                            <div class="carousel-item">
                                <div class="row">
                                    @foreach (var item in Model.Reverse().Take(3))
                                    {


                                        <div class="col-md-4 mb-3">
                                            <div class="card">
                                                <img class="img-fluid" alt="100%x280"
                                                     src="~/assetsUser/img/@Html.DisplayFor(modelItem => item.ImageUrl)">
                                                <div class="card-body">
                                                    <h4 class="card-title">@Html.DisplayFor(modelItem => item.TypeName)</h4>
                                                    <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Services Section -->
    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
        <div class="container" data-aos="zoom-in">

            <div class="text-center">
                <h3>Join Us Now</h3>
                <p> Join us now and experience the ultimate photography platform. Connect with talented photographers, book unique shoots and bring your vision to life. Don't miss out on endless possibilities. Click the 'Join us' button below and become a part of our community today.</p>
                <a class="cta-btn" href="#">Join us</a>
            </div>

        </div>
    </section>
    <!-- End Cta Section -->
    <!-- ======= Portfolio Section ======= -->
    @Html.Action("gallery")

    <!-- End Portfolio Section -->
    <!-- ======= Testimonials Section ======= -->
    @if (User.Identity.IsAuthenticated)
    {
        if (User.IsInRole("Photographer"))
        {
            <section style="background:#00000073" id="comments">
                <p style="text-align: center; color: #9E9E9E;">
                    We care what you think dear photographer<br />
                    You can add your comment here to have it appear on our website<br />
                    @Html.ActionLink("Give Us Your Feedback", "Create", "commentsHomes")
                </p>
            </section>
        }
    }

        <section id="testimonials" class="testimonials">

            <div class="container" data-aos="zoom-in">

                <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                    <div class="swiper-wrapper">

                        @Html.Action("commentsHome")

                    </div>
                    <div class="swiper-pagination"></div>
                </div>

            </div>
        </section>
        <!-- End Testimonials Section -->
        <!-- ======= Team Section ======= -->
        <section id="team" class="team">

            <div class="container">

                <div class="section-title">
                    <h2>Team</h2>
                    <p style="color: #ddd;"><span style="color: #F2C511;">C</span>heck <span style="color: #F2C511;">o</span>ur <span style="color: #F2C511;">T</span>eam</p>
                </div>


                <div class="ourTeamPhotographer">

                    <div class="profile-card">
                        <img src="~/assetsUser/img/mayyas.jpg" alt="" />
                        <div class="profile-details">
                            <h3>Mayyas Obeidat</h3>
                            <p>Photographer and founder of this site</p>
                            <div class="social-media-list">
                                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                            </div>
                        </div>
                    </div>



                    <div class="profile-card">
                        <img src="~/assetsUser/img/sedrh.png" alt="" />
                        <div class="profile-details">
                            <h3>Sedrh Al-shathily</h3>
                            <p>Portrait Photographer</p>
                            <div class="social-media-list">
                                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                            </div>
                        </div>
                    </div>


                    <div class="profile-card">
                        <img src="~/assetsUser/img/baraa.png" alt="" />
                        <div class="profile-details">
                            <h3>Baraa Mohammad</h3>
                            <p>Product Photographer</p>
                            <div class="social-media-list">
                                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                            </div>
                        </div>
                    </div>





                    <div class="profile-card">
                        <img src="~/assetsUser/img/mayar.png" alt="" />
                        <div class="profile-details">
                            <h3>Mayar Karter</h3>
                            <p>Food Photographer</p>
                            <div class="social-media-list">
                                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                            </div>
                        </div>
                    </div>





                </div>
            </div>


        </section>

        <!-- End Team Section -->






































    </main><!-- End #main -->