@model sight.Models.photo_sessions

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutBooking.cshtml";
}

<style>
    .details {
        font-size:14px;
        color: #4a4a4a;
    }
    @@import url('https://fonts.googleapis.com/css?family=Montserrat');

    .bbb {
        background-image: url("conn.png");
        background-size: cover;
    }

    .bookCard {
        width: 60%;
        padding: 5%;
    }

    @@media only screen and (min-device-width: 481px) and (max-device-width:768px) {

        .bookCard {
            width: 90%;
            padding: 5%;
        }
    }

    @@media only screen and (min-device-width: 0px) and (max-device-width:480px) {

        .bookCard {
            width: 90%;
            padding: 5%;
        }
    }
</style>

<main id="main" class="main" style="padding-top: 60px;">

    <div class="container">


        <section class="section profile">
            @using (Html.BeginForm("Create", "photo_sessions", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {

                @Html.AntiForgeryToken()


                <div class="row d-flex align-items-center justify-content-center">

                    <div class="card bookCard">
                        <div id="form1">
                            <h2>You are requesting to book a shoot.</h2>
                            <h4>Please choose a city, preferred photographer, date and preferred time of day that you would like for your photo shoot.</h4>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        

                            <div class="mb-3">
                                <label class="form-label d-block">What type of photo shoot would you like to book? *</label>
                                <div class="form-floating mb-3 row-cols-lg-3">
                                    @Html.DropDownList("TypeID", null, htmlAttributes: new { @class = "form-select", @id = "NewField3" })
                                    @Html.ValidationMessageFor(model => model.TypeID, "", new { @class = "text-danger" })
                                    <label for="newField3">Type of Photography</label>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="form-label d-block">Where would you like to book the photo shoot? *</label>
                                <div class="form-floating mb-3 row-cols-lg-3">
                                    @Html.DropDownList("city_id", null, htmlAttributes: new { @class = "form-select", @id = "NewField4" })
                                    @Html.ValidationMessageFor(model => model.city_id, "", new { @class = "text-danger" })
                                    <label for="newField4">City</label>
                                </div>
                            </div>


                            <div class="mb-3">
                                <label class="form-label d-block">What day would you like to book your photo shoot?*</label>
                                <div class="form-floating mb-3 row-cols-lg-3">
                                    @Html.TextBoxFor(model => model.session_date, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date", @min = DateTime.Now.ToString("yyyy-MM-dd"), @id = "NewField" })
                                    @Html.ValidationMessageFor(model => model.session_date, "", new { @class = "text-danger" })
                                    <label for="newField">day</label>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label d-block">What day would you like to book your photo shoot?*</label>
                                <div class="form-floating mb-3 row-cols-lg-3">
                                    @Html.TextBoxFor(model => model.session_time, "{0:hh\\:mm}", new
                                    {
                                        @class = "form-control",
                                        @type = "time"
                                   ,
                                        @id = "NewField9"
                                    })
                                    @Html.ValidationMessageFor(model => model.session_time, "", new { @class = "text-danger" })
                                    <label for="newField9">Time</label>
                                </div>
                            </div>

                            <div class="mb-3">
                                <p style="    border: solid; background: gainsboro; padding: 10px;">
                                    When your photographer responds to confirm their availability for your date and time slot, they will also send the start time they are available for your shoot.
                                </p>
                            </div>

                            <div class="d-flex align-items-end justify-content-end">
                                <div class="col-md-3 col-sm-6">
                                    <button class="btn btn-warning" id="nextBtn" type="button" style="width: 100%;">Next Step</button>
                                </div>
                            </div>
                        </div>

                        <div id="form2" style="display:none;">

                            <h2>You are requesting to book a shoot with Baraa in irbid on Tuesday, March 10th 2023 in the morning.</h2>
                            <h5>We just need a few more details to complete your request so Barra can get back to you within 24 - 48 hours to confirm your booking.</h5>
                            <br>



                            <div class="mb-3">
                                <label class="form-label d-block">How many participants will be on the shoot?</label>
                                <div class="form-floating mb-3 row-cols-lg-3">
                                    @Html.EditorFor(model => model.howMany, new { htmlAttributes = new { @class = "form-control", type = "number", data_sb_validations = "required", @id = "NewFields" } })
                                    @Html.ValidationMessageFor(model => model.howMany, "", new { @class = "text-danger" })
                                    <label for="newFields">The number of people</label>

                                </div>
                                <p class="details">For groups of more than 6 we require a shoot length minimum of 60 minutes, for groups of more than 10 we require a shoot length minimum of 90 minutes, and for groups of more than 15 we require a shoot length minimum of 2 hours.</p>

                            </div>




                            <div class="mb-3">
                                <label class="form-label d-block">Choose your package *</label>
                                <div class="form-floating mb-3 row-cols-lg-3">
                                    <select class="form-select" id="newField3" aria-label="New Field 3">
                                        <option value="1">60 minutes - 50JD</option>
                                        <option value="2">90 minutes - 70JD</option>
                                        <option value="3">120 minutes - 90JD</option>
                                    </select>
                                    <label for="newField3">Price</label>
                                </div>
                            </div>

                            <br />


                            @*<div class="form-group">
                            @Html.LabelFor(model => model.pricing_id, "pricing_id", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("pricing_id", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.pricing_id, "", new { @class = "text-danger" })
                            </div>
                        </div>*@




                            <div class="mb-3">
                                <label class="form-label d-block">Please tell us about your shoot vision and goals, including anything specific you are hoping to see in your photos.*</label>

                                <div class="form-floating mb-3 row-cols-lg-3">
                                    @Html.TextAreaFor(model => model.theDescription, new { @class = "form-control", id = "NewFieldsss", style = "height: 10rem;", data_sb_validations = "required", placeholder = "Examples include:\n1) any specific landmarks or locations you would like in the background\n2) photo style, such as romantic, fun, playful, etc.\n3) any must-have shots, such as solo shots or photos of only certain participants" })
                                    @Html.ValidationMessageFor(model => model.theDescription, "", new { @class = "text-danger" })
                                </div>
                                <p class="details">
                                    The details you provide will help your photographer make the best suggestions for your shoot!<br />
                                    Examples include:
                                    <br>
                                    1) any specific landmarks or locations you would like in the background
                                    <br>
                                    2) photo style, such as romantic, fun, playful, etc.
                                    <br>
                                    3) any must-have shots, such as solo shots or photos of only certain participants
                                </p>
                            </div>






                            <div class="d-flex align-items-end justify-content-between">
                                <div class="col-md-3 col-sm-6">
                                    <button class="btn btn-light" id="backBtn" type="button" style="width: 100%;">Previous</button>
                                </div>

                                <div class="col-md-3 col-sm-6">
                                    @*<button class="btn btn-warning" id="nextBtn2" type="submit" style="width: 100%;">Next Step</button>*@
                                    <input type="submit" value="Submit" id="nextBtn2" class="btn btn-warning" style="width: 100%;" />

                                </div>


                            </div>





                        </div>

                        <div id="form3" style="display:none;">

                            <h2>Your booking request is sent!</h2>
                            <h5>You will be notified when a photographer responds. Responses typically take 24 - 48 hours.</h5>
                            <br>
                            <div class="mb-3" style="padding: 5%; border: solid;">
                                <p><strong>Booking Request Details</strong></p>
                                <p><strong>Date:</strong> March 10, 2023</p>
                                <p><strong>Time of day:</strong>Morning</p>
                                <p><strong>Number of participants:</strong>2</p>
                                <p><strong>Requested photographer:</strong>Baraa</p>
                                <p><strong>Type of Photo shoot:</strong>Portrait</p>
                                <p><strong>Package:</strong>90 minute booking</p>
                            </div>


                            <div class="mb-3 text-center link-success text-decoration-underline">
                                <p>If you pay in advance, you will get a 10% discount.</p>
                            </div>


                            <div class="d-flex align-items-center justify-content-center">
                                <div class="col-md-3 col-sm-6">
                                    <button class="btn btn-warning" id="submitButton" type="submit" style="width: 100%;">Pay Upfront</button>
                                </div>



                            </div>





                        </div>


                    </div>
                </div>
            }

        </section>

    </div>
</main>
<!-- End #main -->




<script>
        // احصل على مرجع لكل نموذج باستخدام معرفاتها الفريدة
        const form1 = document.getElementById("form1");
        const form2 = document.getElementById("form2");
        const form3 = document.getElementById("form3");

        // احصل على مرجع لكل زر "Next" باستخدام معرفاتها الفريدة
        const nextBtn = document.getElementById("nextBtn");
        const nextBtn2 = document.getElementById("nextBtn2");

        // احصل على مرجع لكل زر "Back" باستخدام معرفاتها الفريدة
        const backBtn = document.getElementById("backBtn");
        const backBtn2 = document.getElementById("backBtn2");

        // احصل على مرجع لزر "Submit"
        const submitBtn = document.getElementById("submitBtn");

        // أضف حدث مستمع للنقر على زر "Next"
        nextBtn.addEventListener("click", function () {
            // قم بتغيير خصائص CSS لكل نموذج لإظهار النموذج الثاني وإخفاء النموذج الأول
            form1.style.display = "none";
            form2.style.display = "block";
        });

        // أضف حدث مستمع للنقر على زر "Next" في الصفحة الثانية
        nextBtn2.addEventListener("click", function () {
            // قم بتغيير خصائص CSS لكل نموذج لإظهار النموذج الثالث وإخفاء النموذج الثاني
            form2.style.display = "none";
            form3.style.display = "block";

            // قم بتحديد نص الزر على "Finish"
            nextBtn2.innerHTML = "Finish";
        });

        // أضف // حدث مستمع للنقر على زر "Back" في الصفحة الثانية
        backBtn.addEventListener("click", function () {
            // قم بتغيير خصائص CSS لكل نموذج لإظهار النموذج الأول وإخفاء النموذج الثاني
            form2.style.display = "none";
            form1.style.display = "block";
        });

        // حدث مستمع للنقر على زر "Back" في الصفحة الثالثة
        backBtn2.addEventListener("click", function () {
            // قم بتغيير خصائص CSS لكل نموذج لإظهار النموذج الثاني وإخفاء النموذج الثالث
            form3.style.display = "none";
            form2.style.display = "block";

            // قم بتحديد نص الزر على "Next" مرة أخرى
            nextBtn2.innerHTML = "Next";
        });

        // حدث مستمع للنقر على زر "Submit"
        submitBtn.addEventListener("click", function () {
            // قم بإرسال البيانات إلى الخادم هنا
        });

</script>







@*<main id="main" class="main" style="padding-top: 60px;">

    <div class="container">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>photo_sessions</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.photographer_id, "photographer_id", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("photographer_id", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.photographer_id, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.client_id, "client_id", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("client_id", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.client_id, "", new { @class = "text-danger" })
                    </div>
                </div>*@

                @*<div class="form-group">
                    @Html.LabelFor(model => model.city_id, "city_id", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("city_id", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.city_id, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TypeID, "TypeID", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("TypeID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.TypeID, "", new { @class = "text-danger" })
                    </div>
                </div>*@

                @*<div class="form-group">
                    @Html.LabelFor(model => model.session_date, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.session_date, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.session_date, "", new { @class = "text-danger" })
                    </div>
                </div>*@

                @*<div class="form-group">
                    @Html.LabelFor(model => model.session_time, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.session_time, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.session_time, "", new { @class = "text-danger" })
                    </div>
                </div>*@

                @*<div class="form-group">
                    @Html.LabelFor(model => model.status, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.status)
                            @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>*@

                @*<div class="form-group" style="display:none">
                    @Html.LabelFor(model => model.created_at, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.created_at, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.created_at, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }*@

        @*<div>
            @Html.ActionLink("Back to List", "Index")
        </div>*@
    @*</div>
</main>*@