@model sight.Models.photo_sessions

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutBooking.cshtml";
}

<style>
    .details {
        font-size: 10px;
        color: #9c9898;
    }
    @@import url('https://fonts.googleapis.com/css?family=Montserrat');

    .bbb {
        background-image: url("conn.png");
        background-size: cover;
    }

    .bookCard {
        width: 65%;
        padding: 5%;
    }

    .firstForm{
        display:flex;
        gap:10px;
    }

    @@media only screen and (min-device-width: 481px) and (max-device-width:768px) {
        .bookCard {
            width: 90%;
            padding: 5%;
        }
    }

    @@media only screen and (min-device-width: 0px) and (max-device-width:480px) {

        .bookCard {
            width: 90%;
            padding: 5%;
        }
        .firstForm {
            flex-direction:column;
        }
    }
</style>

<main id="main" class="main" style="padding-top: 60px;">

    <div class="container">


        <section class="section profile">
            @using (Html.BeginForm("Create", "photo_sessions", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {

                @Html.AntiForgeryToken()


                <div class="row d-flex align-items-center justify-content-center">

                    <div class="card bookCard row d-flex flex-row">
                        <div class="text-center mb-3">
                            <h2>You are requesting to book a shoot.</h2>
                            <h5>We just need a few more details to complete your request so your photographer can get back to you within 24 - 48 hours to confirm your booking.</h5>                        </div>

                        <div class="d-flex flex-column">
                            <div id="form1">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                                <div class="mb-3 firstForm">
                                    <div class="form-floating mb-3 col-lg-4 col-md-4">
                                        @Html.DropDownList("TypeID", null, htmlAttributes: new { @class = "form-select", @id = "NewField3" })
                                        @Html.ValidationMessageFor(model => model.TypeID, "", new { @class = "text-danger" })
                                        <label for="newField3">Type of Photography</label>
                                    </div>
                                    <div class="form-floating mb-3 col-lg-4 col-md-4">
                                        @Html.DropDownList("city_id", null, htmlAttributes: new { @class = "form-select", @id = "NewField4" })
                                        @Html.ValidationMessageFor(model => model.city_id, "", new { @class = "text-danger" })
                                        <label for="newField4">City</label>
                                    </div>
                                    <div class="form-floating mb-3 col-lg-4 col-md-4">
                                        @Html.TextBoxFor(model => model.session_date, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date", @min = DateTime.Now.ToString("yyyy-MM-dd"), @id = "NewField" })
                                        @Html.ValidationMessageFor(model => model.session_date, "", new { @class = "text-danger" })
                                        <label for="newField">day</label>
                                    </div>                                 
                                </div>
                                <div class="mb-3 firstForm">
                                    <div class="form-floating mb-3 col-lg-4 col-md-4">
                                        @Html.TextBoxFor(model => model.session_time, "{0:hh\\:mm}", new { @class = "form-control", @type = "time", @id = "NewField9" })
                                        @Html.ValidationMessageFor(model => model.session_time, "", new { @class = "text-danger" })
                                        <label for="newField9">Time</label>
                                    </div>
                                    <div class="form-floating mb-3 col-lg-4 col-md-4">
                                        @Html.EditorFor(model => model.howMany, new { htmlAttributes = new { @class = "form-control", type = "number", data_sb_validations = "required", @id = "NewFields", min = "1", max = "20" } })
                                        @Html.ValidationMessageFor(model => model.howMany, "", new { @class = "text-danger" })
                                        <label for="newFields">People</label>
                                    </div>
                                    <div class="form-floating mb-3 col-lg-4 col-md-4">
                                        @*@Html.EditorFor(model => model.client.PhoneNumber, new { htmlAttributes = new { @class = "form-control", type = "phone", data_sb_validations = "required", @id = "newField3", @value = ViewBag.phone } })*@
                                        @*@Html.EditorFor(model => model.client.PhoneNumber, new { htmlAttributes = new { @class = "form-control", @value = Model.client.PhoneNumber } })*@
                                        <input class="form-control" data-sb-validations="required" id="newField3" name="phone" type="tel" pattern="^(\+?9627|009627|07)[7-9]{1}[0-9]{7}$" value="@ViewBag.phone" />
                                        @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })

                                        <label for="newField3">Your Phone</label>
                                    </div>
                                </div>


                                <div class="mb-3">
                                    <label class="form-label d-block">Please tell us about your shoot vision and goals, including anything specific you are hoping to see in your photos.*</label>

                                    <div class="form-floating mb-3 row-cols-lg-3">
                                        @Html.TextAreaFor(model => model.theDescription, new { @class = "form-control", id = "NewFieldsss", style = "height: 10rem;", data_sb_validations = "required", placeholder = "Examples include:\n1) any specific landmarks or locations you would like in the background\n2) photo style, such as romantic, fun, playful, etc.\n3) any must-have shots, such as solo shots or photos of only certain participants" })
                                        @Html.ValidationMessageFor(model => model.theDescription, "", new { @class = "text-danger" })
                                    </div>
                                    <p class="details">
                                        The details you provide will help your photographer make the best suggestions for your shoot! .. Examples include:
                                        <br>
                                        1) any specific landmarks or locations you would like in the background
                                        <br>
                                        2) photo style, such as romantic, fun, playful, etc.
                                        <br>
                                        3) any must-have shots, such as solo shots or photos of only certain participants
                                    </p>
                                </div>
                            </div>
                        </div>


                        <div class="mb-3">
                            <p style="    border: solid; background: gainsboro; padding: 10px;">
                                When your photographer responds to confirm their availability for your date and time slot, they will also send the start time they are available for your shoot.
                            </p>
                        </div>
                        <div class="d-flex align-items-end justify-content-between">
                                <input type="submit" value="Submit" id="nextBtn2" class="btn btn-warning" style="width: 100%;" />
                        </div>
                    </div>
                </div>
            }

        </section>

    </div>
</main>
<!-- End #main -->
