@model sight.Models.photo_sessions

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutBooking.cshtml";
}

<style>
    @@import url('https://fonts.googleapis.com/css?family=Montserrat');

    .bbb {
        background-image: url("conn.png");
        background-size: cover;
    }

    .bookCard {
        width: 60%;
        padding: 5%;
    }

    @@media only screen and (min-device-width: 481px) and (max-device-width:768px) {

        .bookCard {
            width: 90%;
            padding: 5%;
        }
    }

    @@media only screen and (min-device-width: 0px) and (max-device-width:480px) {

        .bookCard {
            width: 90%;
            padding: 5%;
        }
    }
</style>

<main id="main" class="main" style="padding-top: 60px;">

    <div class="container">


        <section class="section profile">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="row d-flex align-items-center justify-content-center">

                    <div class="card bookCard">

                        <h2>You are requesting to book a shoot.</h2>
                        <h4>Please choose a city, preferred photographer, date and preferred time of day that you would like for your photo shoot.</h4>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.photographer_id, "photographer_id", htmlAttributes: new { @class = "control-label col-md-10" })
                            <div class="col-md-10">
                                @Html.DropDownList("photographer_id", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.photographer_id, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.client_id, "client_id", htmlAttributes: new { @class = "control-label col-md-10" })
                            <div class="col-md-10">
                                @Html.DropDownList("client_id", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.client_id, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="mb-3">
                            <label class="form-label d-block">What type of photo shoot would you like to book? *</label>
                            <div class="form-floating mb-3 row-cols-lg-3">
                                @Html.DropDownList("TypeID", null, htmlAttributes: new { @class = "form-select", @id = "NewField3" })
                                @Html.ValidationMessageFor(model => model.TypeID, "", new { @class = "text-danger" })
                                <label for="newField3">Type of Photography</label>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label d-block">Where would you like to book the photo shoot? *</label>
                            <div class="form-floating mb-3 row-cols-lg-3">
                                @Html.DropDownList("city_id", null, htmlAttributes: new { @class = "form-select", @id = "NewField4" })
                                @Html.ValidationMessageFor(model => model.city_id, "", new { @class = "text-danger" })
                                <label for="newField4">City</label>
                            </div>
                        </div>


                        <div class="mb-3">
                            <label class="form-label d-block">What day would you like to book your photo shoot?*</label>
                            <div class="form-floating mb-3 row-cols-lg-3">
                                @Html.TextBoxFor(model => model.session_date, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date", @min = DateTime.Now.ToString("yyyy-MM-dd"), @id = "NewField" })
                                @Html.ValidationMessageFor(model => model.session_date, "", new { @class = "text-danger" })
                                <label for="newField">day</label>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label d-block">What day would you like to book your photo shoot?*</label>
                            <div class="form-floating mb-3 row-cols-lg-3">
                                @Html.TextBoxFor(model => model.session_time, "{0:hh\\:mm}", new
                                {
                                    @class = "form-control",
                                    @type = "time"
                               ,
                                    @id = "NewField9"
                                })
                                @Html.ValidationMessageFor(model => model.session_time, "", new { @class = "text-danger" })
                                <label for="newField9">Time</label>
                            </div>
                        </div>

                        <div class="mb-3">
                            <p style="    border: solid; background: gainsboro; padding: 10px;">
                                When your photographer responds to confirm their availability for your date and time slot, they will also send the start time they are available for your shoot.
                            </p>
                        </div>

                        <div class="d-flex align-items-end justify-content-end">
                            <div class="col-md-3 col-sm-6">
                                <a href="booking2.html"><button class="btn btn-warning" id="submitButton" type="submit" style="width: 100%;">Next Step</button></a>
                            </div>
                        </div>





                    </div>
                </div>
            }

        </section>

    </div>
</main>
<!-- End #main -->












@*<main id="main" class="main" style="padding-top: 60px;">

    <div class="container">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>photo_sessions</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.photographer_id, "photographer_id", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("photographer_id", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.photographer_id, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.client_id, "client_id", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("client_id", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.client_id, "", new { @class = "text-danger" })
                    </div>
                </div>*@

                @*<div class="form-group">
                    @Html.LabelFor(model => model.city_id, "city_id", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("city_id", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.city_id, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TypeID, "TypeID", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("TypeID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.TypeID, "", new { @class = "text-danger" })
                    </div>
                </div>*@

                @*<div class="form-group">
                    @Html.LabelFor(model => model.session_date, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.session_date, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.session_date, "", new { @class = "text-danger" })
                    </div>
                </div>*@

                @*<div class="form-group">
                    @Html.LabelFor(model => model.session_time, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.session_time, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.session_time, "", new { @class = "text-danger" })
                    </div>
                </div>*@

                @*<div class="form-group">
                    @Html.LabelFor(model => model.status, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.status)
                            @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>*@

                @*<div class="form-group" style="display:none">
                    @Html.LabelFor(model => model.created_at, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.created_at, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.created_at, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }*@

        @*<div>
            @Html.ActionLink("Back to List", "Index")
        </div>*@
    @*</div>
</main>*@