@model sight.Models.photo_sessions

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutUsersPages.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>photo_sessions</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.session_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.session_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.session_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.session_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.city.cityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city.cityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.client.user_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.client.user_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.photographer.user_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.photographer.user_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhotographyType.TypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhotographyType.TypeName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
