@model sight.Models.photo_sessions

@{
    ViewBag.Title = "Delete Booking | Sight";
    Layout = "~/Views/Shared/_LayoutUsersPages.cshtml";
}








<style>
    .details {
        font-size: 14px;
        color: #4a4a4a;
    }

    @@import url('https://fonts.googleapis.com/css?family=Montserrat');

    .bbb {
        background-image: url("conn.png");
        background-size: cover;
    }

    .bookCard {
        width: 60%;
        padding: 4.5%;
    }

    @@media only screen and (min-device-width: 481px) and (max-device-width:768px) {

        .bookCard {
            width: 90%;
            padding: 10%;
        }
    }

    @@media only screen and (min-device-width: 0px) and (max-device-width:480px) {

        .bookCard {
            width: 90%;
            padding: 10%;
        }
    }
</style>

<main id="main" class="main" style="padding-top: 60px;">

    <div class="container">


        <section class="section profile">



            <div class="row d-flex align-items-center justify-content-center">

                <div class="card bookCard">



                    <div id="form3">



                        <h2>Delete</h2>

                        <h3>Are you sure you want to delete this booking?</h3>




                        <div>
                            <hr />
                            <table class="table table-striped">
                                <tbody>
                                    <tr>
                                        <th>
                                            Session Date
                                        </th>
                                        <td>
                                            @String.Format("{0:MM/dd/yyyy}", Model.session_date)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Session Time
                                        </th>
                                        <td>
                                            @Html.DisplayFor(model => model.session_time)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Session Duration
                                        </th>
                                        <td>
                                            @Html.DisplayFor(model => model.session_minutes)
                                        </td>
                                    </tr>
                                    @*<tr>
            <th>
                Status
            </th>
            <td>
                @Html.DisplayFor(model => model.status)
            </td>
        </tr>*@
                                    <tr>
                                        <th>
                                            Status
                                        </th>
                                        <td>
                                            @if (Model.caase == 1)
                                            {
                                                <span>waiting</span>
                                            }
                                            else if (Model.caase == 2)
                                            {
                                                <span>accept</span>
                                            }
                                            else if (Model.caase == 3)
                                            {
                                                <span>reject</span>
                                            }

                                            @*@Html.DisplayFor(model => model.caase)*@
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Book Date
                                        </th>
                                        <td>
                                            @String.Format("{0:MM/dd/yyyy}", Model.created_at)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            City
                                        </th>
                                        <td>
                                            @Html.DisplayFor(model => model.city.cityName)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Client Name
                                        </th>
                                        <td>
                                            @Html.DisplayFor(model => model.client.fullName)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Client Phone
                                        </th>
                                        <td>
                                            @Html.DisplayFor(model => model.phone)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Client Email
                                        </th>
                                        <td>
                                            @Html.DisplayFor(model => model.client.AspNetUser.Email)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Photographer
                                        </th>
                                        <td>
                                            @Html.DisplayFor(model => model.photographer.FullName)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Photography Type
                                        </th>
                                        <td>
                                            @Html.DisplayFor(model => model.PhotographyType.TypeName)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Description
                                        </th>
                                        <td style=" overflow: auto; ">
                                            <p style="height:40px">@Html.DisplayFor(model => model.theDescription)</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
           


                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-danger" /> |
                        @if (User.IsInRole("Photographer"))
                        {
                            @Html.ActionLink("Back", "BookingPhotographer")

                        }
                        else
                        {
                            
                                @Html.ActionLink("Back", "Edit", "Clients")
                            
                        }

                    </div>
                        }



                    </div>


                </div>
            </div>

        </section>

    </div>
</main>
<!-- End #main -->






