@model sight.Models.photo_sessions

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutBooking.cshtml";
}

<style>
    .details {
        font-size: 10px;
        color: #9c9898;
    }

    @@import url('https://fonts.googleapis.com/css?family=Montserrat');

    .bbb {
        background-image: url("conn.png");
        background-size: cover;
    }

    .bookCard {
        width: 65%;
        padding: 5%;
    }

    .firstForm {
        display: flex;
        gap: 10px;
    }

    @@media only screen and (min-device-width: 481px) and (max-device-width:768px) {
        .bookCard {
            width: 90%;
            padding: 5%;
        }
    }

    @@media only screen and (min-device-width: 0px) and (max-device-width:480px) {

        .bookCard {
            width: 90%;
            padding: 5%;
        }

        .firstForm {
            flex-direction: column;
        }
    }
</style>

<main id="main" class="main" style="padding-top: 60px;">

    <div class="container">


        <section class="section profile">

            @using (Html.BeginForm("Edit", "photo_sessions", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()


                <div class="row d-flex align-items-center justify-content-center">

                    <div class="card bookCard row d-flex flex-row">
                        <div class="text-center mb-3">
                            <h2>You are requesting to book a shoot.</h2>
                            <h5>We just need a few more details to complete your request so your photographer can get back to you within 24 - 48 hours to confirm your booking.</h5>
                        </div>

                        <div class="d-flex flex-column">
                            <div id="form1">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.id)


                                <div class="mb-3">
                                    <label class="form-label d-block">Choose the duration of the photo session that you want to book with the photographer, and based on the duration of the session, you will see the price required of you for the session.*</label>

                                    <div class="form-floating mb-3 row-cols-lg-3">

                                        <select id="minutes" name="minutes" class="form-control">
                                            <option value="60 minutes">60 minutes - @ViewBag.PriceOneHour JD</option>
                                            <option value="90 minutes">90 minutes - @ViewBag.PriceOneAndHalfHour JD</option>
                                            <option value="120 minutes">120 minutes - @ViewBag.PriceTwoHours JD</option>
                                        </select>
                                        <label for="minutes">Select hours:</label>




                                    </div>         
                                </div>
                            </div>
                        </div>


                        <div class="mb-3">
                            <p style="    border: solid; background: gainsboro; padding: 10px;">
                                When your photographer responds to confirm their availability for your date and time slot, they will also send the start time they are available for your shoot.
                            </p>
                        </div>
                        <div class="d-flex align-items-end justify-content-between">
                            <input type="submit" value="Submit" id="nextBtn2" class="btn btn-warning" style="width: 100%;" />
                        </div>
                    </div>
                </div>
                                            }

        </section>

    </div>
</main>
<!-- End #main -->


