@model IEnumerable<sight.Models.photo_sessions>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUsersPages.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.session_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.session_time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.created_at)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.city.cityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.client.user_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.photographer.user_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhotographyType.TypeName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.session_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.session_time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.created_at)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.city.cityName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.client.user_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.photographer.user_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhotographyType.TypeName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
