@model IEnumerable<sight.Models.photo_sessions>

@{
    Layout = null;
}


@foreach (var item in Model)
{

    if (item.session_minutes != null)
    {
    <hr />
    <table class="table-bordered table table-hover table-responsive">
        <tr>
            <th>
                Session Date
            </th>
            <td>
                @String.Format("{0:MM/dd/yyyy}", item.session_date)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.id })
            </td>
        </tr>
        @*<tr>
            <th>
                Session Time
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.session_time)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.city.cityName)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.city.cityName)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.client.fullName)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.client.fullName)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PhotographyType.TypeName)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.PhotographyType.TypeName)
            </td>
        </tr>*@
        @*<tr>
            <td colspan="2">
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>*@
    </table>
    }
}