@model sight.Models.commentsHome

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdminDashboard.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>commentsHome</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt><b style="color: #d9d9d9;">Photographer:</b></dt>
        <td><a href="/photographers/PhotographerProfile/@Model.photographer_id">@Html.DisplayFor(modelItem => Model.photographer.FullName)</a></td>
        <dt><b style="color: #d9d9d9;">Date:</b></dt>
        <dd>@Html.DisplayFor(model => model.created_at)</dd>
        <dt><b style="color: #d9d9d9;">Comment:</b></dt>
        <dd>@Html.DisplayFor(model => model.comment)</dd>
    </dl>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back", "Index")
        </div>
    }
</div>
