@model IEnumerable<sight.Models.commentsHome>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdminDashboard.cshtml";
}




<div class="col-12">
    <div class="bg-secondary rounded h-100 p-4">
        <h4>Unapproved Feedback</h4>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Comment</th>
                        <th scope="col">Date</th>
                        <th scope="col">Photographer</th>
                        <th scope="col"></th>
                        <th scope="col"></th>

                    </tr>
                </thead>
                <tbody>
                    @{
                        var j = 1;
                    }

                    @foreach (var item in Model.Where(x => !x.is_approved))
                    {
                        <tr>
                            <th scope="row">@j</th>
                            <td>@item.comment</td>
                            <td>@item.created_at</td>
                            <td><a href="/photographers/PhotographerProfile/@item.photographer_id">@Html.DisplayFor(modelItem => item.photographer.FullName)</a></td>
                            <td>
                                @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { @class = "btn btn-danger" })
                            </td>

                            <td>

                                @if (!item.is_approved)
                                {
                                    @Html.ActionLink("Accept", "Accept", new { id = item.id }, new { @class = "btn btn-success" })
                                }
                            </td>
                        </tr>
                        {
                            j++;
                        }
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>
<br />


<div class="col-12">
    <div class="bg-secondary rounded h-100 p-4">
        <h4>Approved Feedback</h4>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Comment</th>
                        <th scope="col">Date</th>
                        <th scope="col">Photographer</th>
                        <th scope="col"></th>
                        <th scope="col"></th>

                    </tr>
                </thead>
                <tbody>
                    @{
                        var i = 1;
                    }

                    @foreach (var item in Model.Where(x => x.is_approved))
                    {
                        <tr class="">
                            <th scope="row">@i</th>
                            <td>@item.comment</td>
                            <td>@item.created_at</td>
                            <td><a href="/photographers/PhotographerProfile/@item.photographer_id">@Html.DisplayFor(modelItem => item.photographer.FullName)</a></td>
                            <td>
                                @*@Html.ActionLink("Edit", "Edit", new { id = item.id }) |*@
                                @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { @class = "btn btn-danger" })
                            </td>

                            <td>

                                @if (item.is_approved)
                                {
                                    @Html.ActionLink("Hide", "Hide", new { id = item.id }, new { @class = "btn btn-light" })
                                }
                            </td>
                        </tr>
                        {
                            i++;
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>










