@model sight.Models.FAQ

@{
    ViewBag.Title = "FAQs";
    Layout = "~/Views/Shared/_LayoutAdminDashboard.cshtml";
}





<h4>Add Question</h4>
<hr />


<div class="row g-4">
    <div class="col-sm-12 col-xl-12">
        <div class="bg-secondary rounded h-100 p-4">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()


                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="form-group col-xl-5">
                    <input type="text" class="form-control" placeholder="Enter the question" maxlength="1000" name="question" id="question" required /><br />
                    @Html.ValidationMessageFor(model => model.question, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-xl-5">
                    <input type="text" class="form-control" placeholder="Enter the answer" maxlength="1000" name="answer" id="answer" required /><br />
                    @Html.ValidationMessageFor(model => model.answer, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-xl-2">
                    <input type="submit" value="Create" class="btn btn-warning" /><br />
                </div>
            </div>
            }
        </div>
    </div>
    <div class="col-sm-12 col-xl-12">
        <div class="bg-secondary rounded h-100 p-4">


            @Html.Action("Index")


        </div>
    </div>

</div>

