@model sight.Models.FAQ

@{
    ViewBag.Title = "Edit FAQ";
    Layout = "~/Views/Shared/_LayoutAdminDashboard.cshtml";
}

<h4>Edit Question</h4>
<hr />


<div class="row g-4">
    <div class="col-sm-12 col-xl-12">
        <div class="bg-secondary rounded h-100 p-4">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()


                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row">
                    <div class="form-group col-xl-12">
                        <textarea class="form-control" id="question" style="height: 200px;" name="question" maxlength="1000" placeholder="Enter the question" value="@Model.question" required></textarea><br />
                        <script>
                            document.getElementById("question").innerText = "@Model.question";

                        </script>
                        @*<input type="text" class="form-control" placeholder="Enter the question" maxlength="1000" name="question" id="question" required value="@Model.question" /><br />*@
                        @Html.ValidationMessageFor(model => model.question, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-xl-12">
                        <textarea class="form-control" id="answer" style="height: 200px;" name="answer" maxlength="1000" placeholder="Enter the answer" value="@Model.answer" required></textarea><br />
                        <script>
                            document.getElementById("answer").innerText = "@Model.answer";

                        </script>
                        @*<input type="text" class="form-control" placeholder="Enter the answer" maxlength="1000" name="answer" id="answer" required value="@Model.answer" /><br />*@
                        @Html.ValidationMessageFor(model => model.answer, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group col-xl-2">
                        <input type="submit" value="Create" class="btn btn-warning" /> | @Html.ActionLink("Back", "Create")
                        <br />
                    </div>
                </div>
            }
        </div>
    </div>
</div>

