@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <!-- Favicons -->
    <link href="~/assetsUser/img/favicon.png" rel="icon">
    <link href="~/assetsUser/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Vendor CSS Files -->
    <link href="~/assetsUser/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/assetsUser/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assetsUser/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assetsUser/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/assetsUser/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/assetsUser/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/assetsUser/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/assetsUser/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Importing Poppins Font From Google Fonts👇 -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap" rel="stylesheet" />
    <style>
        @@media only screen and (min-device-width: 0px) and (max-device-width:991px) {

            .profiles {
                display: block !important;
            }
        }
    </style>

</head>
<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top ">
        <div class="container d-flex align-items-center justify-content-lg-between">

            <h1 class="logo me-auto me-lg-0"><a href="/Home/Index"><img src="~/assetsUser/img/logo.png" alt="" class="myLogo"></a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->



            <script src="//code.jquery.com/jquery-3.6.0.min.js"></script>

            <script>
                $(document).ready(function () {
                    var current = location.pathname;
                    $('.navbar a').each(function () {
                        var $this = $(this);
                        // check if the current path is like this link
                        if ($this.attr('href').indexOf(current) !== -1) {
                            $this.addClass('active');
                        }
                    })
                });
            </script>

            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul class="naaav">
                    <li class="dropdown profiles" style=" display: none;">
                        <a href="#"><span>@User.Identity.GetUserName().Split('@')[0]</span> <i class="bi bi-chevron-down" style="font-size:10px"></i></a>
                        <ul>
                            <li>@Html.ActionLink("Dashboard", "Index", "AdminDashboard", routeValues: new { id = User.Identity.GetUserId() }, htmlAttributes: new { title = "Manage" })</li>
                            <li><a href="javascript:document.getElementById('logoutForm').submit()" class="get-started-btn scrollto">Log Out</a></li>
                        </ul>
                    </li>
                    <li><a class="nav-link scrollto" href="/Home/Index">Home</a></li>
                    <li><a class="nav-link scrollto" href="/Home/About">About</a></li>
                    <li><a class="nav-link scrollto" href="/Home/Index#services">Services</a></li>
                    <li><a class="nav-link scrollto" href="/Home/Index#portfolio">Gallery</a></li>
                    <li class="dropdown">
                        <a href="/photographers/photographers"><span>Photographers</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="/photographers/photographers">All Photographers</a></li>
                            <li class="dropdown">
                                <a href="#"><span>Photographers In City</span> <i class="bi bi-chevron-right"></i></a>
                                <ul>
                                    @{
                                        sight.Models.sightEntities db = new sight.Models.sightEntities();
                                        sight.Models.city cityy = new sight.Models.city();
                                        var dev = db.cities.ToList();

                                        foreach (var item in dev)
                                        {
                                            <li><a href="/photographers/CityFiltter/@item.id">@item.cityName</a></li>
                                        }
                                    }


                                    @*<li><a href="/photographers/photographersInAmman">Amman</a></li>
                                        <li><a href="/photographers/photographersInIrbid">Irbid</a></li>
                                        <li><a href="/photographers/photographersInJarash">Jarash</a></li>*@
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#"><span>Types Of Photography</span> <i class="bi bi-chevron-right"></i></a>
                                <ul>

                                    @{
                                        sight.Models.sightEntities dbb = new sight.Models.sightEntities();
                                        sight.Models.PhotographyType Type = new sight.Models.PhotographyType();
                                        var devv = db.PhotographyTypes.ToList();

                                        foreach (var item in devv)
                                        {
                                            <li><a href="/photographers/TypeFiltter/@item.TypeID">@item.TypeName</a></li>
                                        }
                                    }

                                    @*<li><a href="/photographers/photographersPortrait">Portrait</a></li>
                                        <li><a href="/photographers/photographersProduct">Product</a></li>
                                        <li><a href="/photographers/photographersNewborn">Newborn</a></li>
                                        <li><a href="/photographers/photographersFood">Food</a></li>
                                        <li><a href="/photographers/photographersOccasions">Occasions</a></li>
                                        <li><a href="/photographers/photographersLandscape">Landscape</a></li>*@
                                </ul>
                            </li>

                        </ul>
                    </li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-link scrollto" })</li>
                </ul>

                &nbsp; &nbsp; &nbsp;   &nbsp;<i class="bi bi-list mobile-nav-toggle"></i>

            </nav><!-- .navbar -->
            @Html.Partial("_LoginPartial")


        </div>
    </header>
    <!-- End Header -->









    @RenderBody()





    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6">
                        <div class="footer-info">
                            <a href="/Home/Index"><img src="~/assetsUser/img/logo.png" alt="" style="width:40%;"></a><br>
                            <p>
                                <br>
                                <strong>Address:</strong> Jordan<br>
                                <strong>Phone:</strong> +962778095499<br>
                                <strong>Email:</strong> sight@photographer.net<br>
                            </p>
                            <div class="social-links mt-3">
                                <a href="//twitter.com/#" class="twitter"><i class="bx bxl-twitter"></i></a>
                                <a href="//facebook.com/#" class="facebook"><i class="bx bxl-facebook"></i></a>
                                <a href="//twitter.com/#" class="instagram"><i class="bx bxl-instagram"></i></a>
                                <a href="//linkedin.com/in/#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <br />
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="/Home/Index">Home</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="/Home/About">About</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="/Home/Index#portfolio">Services</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="/Home/Index#portfolio">Gallery</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="/photographers/photographers">Photographers</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="/Home/Contact">Contact</a></li>

                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <br />
                        <h4>Our Services</h4>
                        <ul>

                            @{
                                sight.Models.sightEntities dbbb = new sight.Models.sightEntities();
                                sight.Models.PhotographyType Typee = new sight.Models.PhotographyType();
                                var devvv = db.PhotographyTypes.ToList();

                                foreach (var item in devvv)
                                {
                                    <li><i class="bx bx-chevron-right"></i><a href="/photographers/TypeFiltter/@item.TypeID">@item.TypeName</a></li>
                                }
                            }
                            @*<li><i class="bx bx-chevron-right"></i> <a href="#">Portrait photography</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Product Photography</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Newborn Photography</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Food Photography</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Occasions Photography</a></li>*@
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 footer-newsletter">

                        <a href="/Home/Index#portfolio"><h4>Our Gallery</h4></a>
                        <p>A simple summary of the latest work of our photographers, go to their portfolio and enjoy watching.</p>
                        <div class="container">
                            <style>
                                #header .profile img {
                                    height: 120px;
                                }

                                .mmm {
                                    width: 100%;
                                }

                                .mm {
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            </style>
                            <div class="row" >
                                @{
                                    sight.Models.sightEntities datab = new sight.Models.sightEntities();
                                    sight.Models.photosAdmin photos = new sight.Models.photosAdmin();
                                    var photo = db.photosAdmins.OrderByDescending(x => x.id).Take(12).ToList();

                                    foreach (var item in photo)
                                    {

                                     
                                        <div class="col-sm-3 col-3 mt-1" style="padding:3px;">
                                            <div style="width:100%"><a href="/photographers/PhotographerProfile/@item.photographerID"><img src="~/assetsUser/img/portfolio/@item.photo" style=" top: 0; left: 0; width: 100%; height: 50px; object-fit: cover;" /></a></div>
                                        </div>


                                    }
                                }
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>SIGHT</span></strong>. All Rights Reserved - @DateTime.Now.Year
            </div>
        </div>
    </footer><!-- End Footer -->









    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>



    <!-- Vendor JS Files -->
    <script src="~/assetsUser/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="~/assetsUser/vendor/aos/aos.js"></script>
    <script src="~/assetsUser/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assetsUser/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/assetsUser/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/assetsUser/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/assetsUser/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/assetsUser/js/main.js"></script>
    @RenderSection("scripts", required: false)


</body>
</html>
