@model IEnumerable<sight.Models.PhotographerPricing>

@{
    ViewBag.Title = "Index";
    Layout = null;
}


<table class="table-bordered table table-hover table-responsive">
    <tr>
        <th>
            Photography
        </th>
        <th>
            60
        </th>
        <th>
            90
        </th>
        <th>
            120
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PhotographyType.TypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceOneHour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceOneAndHalfHour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceTwoHours)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) @*|
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })*@
            </td>
        </tr>
    }

</table>
