
@{
    ViewBag.Title = "Statistics";
}

<div class="row g-4">
    <div class="col-sm-6 col-xl-3">
        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
            <div class="ms-3">
                <p class="mb-2">Total photographers</p>
                <h6 class="mb-0">@Html.Action("photographersCount")</h6>
            </div>
            <i class="fa bi-person-fill fa-3x text-primary"></i>

        </div>
    </div>
    <div class="col-sm-6 col-xl-3">
        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
            <div class="ms-3">
                <p class="mb-2">Total clients</p>
                <h6 class="mb-0">@Html.Action("clientsCount")</h6>
            </div>
            <i class="fa bi-person-bounding-box fa-3x text-primary"></i>

        </div>
    </div>
    <div class="col-sm-6 col-xl-3">
        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
            <div class="ms-3">
                <p class="mb-2">Total Booking</p>
                <h6 class="mb-0">@Html.Action("bookingCount")</h6>
            </div>
            <i class="fa bi-node-plus-fill fa-3x text-primary"></i>
        </div>
    </div>
    <div class="col-sm-6 col-xl-3">
        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
            <div class="ms-3">
                <p class="mb-2">Total Users</p>
                <h6 class="mb-0">@Html.Action("usersCount")</h6>
            </div>
            <i class="fa bi-person-fill fa-3x text-primary"></i>

        </div>
    </div>
</div>
<br />
<div class="row g-4">
    <div class="col-sm-6 col-xl-3">
        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
            <div class="ms-3">
                <p class="mb-2">Total profits</p>
                <h6 class="mb-0">@Html.Action("totalProfits") JD</h6>
            </div>
            <i class="fa fa-chart-line fa-3x text-primary"></i>

        </div>
    </div>
    <div class="col-sm-6 col-xl-3">
        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
            <div class="ms-3">
                <p class="mb-2">Total subscriptions</p>
                <h6 class="mb-0">@Html.Action("totalSubscriptions")</h6>
            </div>
            <i class="fa fa-chart-bar fa-3x text-primary"></i>

        </div>
    </div>
    <div class="col-sm-6 col-xl-3">
        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
            <div class="ms-3">
                <p class="mb-2">Today Revenue</p>
                <h6 class="mb-0">$1234</h6>
            </div>
            <i class="fa fa-chart-area fa-3x text-primary"></i>

        </div>
    </div>
    <div class="col-sm-6 col-xl-3">
        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
            <div class="ms-3">
                <p class="mb-2">Total Revenue</p>
                <h6 class="mb-0">$1234</h6>
            </div>
            <i class="fa fa-chart-pie fa-3x text-primary"></i>

        </div>
    </div>
</div>
<br />
@Html.Partial("MostPopulerCities")

<br />
<div class="row g-4">

    @Html.Partial("PhotoSessions")

    @Html.Partial("Photographers")

    @Html.Partial("Subscription")

</div>
<br />
@Html.Partial("MostPopulerTypes")
<br />
@Html.Action("MonthlyStatistics")
