
@{
    ViewBag.Title = "Statisticssss";
    Layout = "~/Views/Shared/_LayoutAdminDashboard.cshtml";
}





<h2>Statisticssss</h2>
<p>
    @ViewBag.IrbidCount,
    @ViewBag.AmmanCount,
    @ViewBag.JarashCount,
    @ViewBag.AjlounCount,
    @ViewBag.AqabaCount
</p>
@ViewBag.IrbidPercentage
@ViewBag.AmmanPercentage
@ViewBag.JarashPercentage
@ViewBag.AjlounPercentage





<style>
    body {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        padding: 20px;
    }

    /* Bar Graph Horizontal */
    .bar-graph .year {
        -webkit-animation: fade-in-text 2.2s 0.1s forwards;
        -moz-animation: fade-in-text 2.2s 0.1s forwards;
        animation: fade-in-text 2.2s 0.1s forwards;
        opacity: 0;
    }

    .bar-graph-horizontal {
        max-width: 380px;
    }

        .bar-graph-horizontal > div {
            float: left;
            margin-bottom: 8px;
            width: 100%;
        }

        .bar-graph-horizontal .year {
            float: left;
            margin-top: 18px;
            width: 50px;
        }

        .bar-graph-horizontal .bar {
            border-radius: 3px;
            height: 55px;
            float: left;
            overflow: hidden;
            position: relative;
            width: 0;
        }

    .bar-graph-one .bar::after {
        -webkit-animation: fade-in-text 2.2s 0.1s forwards;
        -moz-animation: fade-in-text 2.2s 0.1s forwards;
        animation: fade-in-text 2.2s 0.1s forwards;
        color: #fff;
        content: attr(data-percentage);
        font-weight: 700;
        position: absolute;
        right: 16px;
        top: 17px;
    }

    .bar-graph-one .bar-one .bar {
        background-color: #64b2d1;
        -webkit-animation: show-bar-one 1.2s 0.1s forwards;
        -moz-animation: show-bar-one 1.2s 0.1s forwards;
        animation: show-bar-one 1.2s 0.1s forwards;
    }

    .bar-graph-one .bar-two .bar {
        background-color: #5292ac;
        -webkit-animation: show-bar-two 1.2s 0.2s forwards;
        -moz-animation: show-bar-two 1.2s 0.2s forwards;
        animation: show-bar-two 1.2s 0.2s forwards;
    }

    .bar-graph-one .bar-three .bar {
        background-color: #407286;
        -webkit-animation: show-bar-three 1.2s 0.3s forwards;
        -moz-animation: show-bar-three 1.2s 0.3s forwards;
        animation: show-bar-three 1.2s 0.3s forwards;
    }

    .bar-graph-one .bar-four .bar {
        background-color: #2e515f;
        -webkit-animation: show-bar-four 1.2s 0.4s forwards;
        -moz-animation: show-bar-four 1.2s 0.4s forwards;
        animation: show-bar-four 1.2s 0.4s forwards;
    }

    @*/* Bar Graph Horizontal Animations */
    @@-webkit-keyframes show-bar-one {
        0% {
            width: 0;
        }

        100% {
            width:  @String.Format("{0}%", ViewBag.IrbidPercentage);
        }
    }

    @@-webkit-keyframes show-bar-two {
        0% {
            width: 0;
        }

        100% {
            width:  @String.Format("{0}%", ViewBag.AmmanPercentage);
        }
    }

    @@-webkit-keyframes show-bar-three {
        0% {
            width: 0;
        }

        100% {
            width:  @String.Format("{0}%", ViewBag.JarashPercentage);
        }
    }

    @@-webkit-keyframes show-bar-four {
        0% {
            width: 0;
        }

        100% {
            width:  @String.Format("{0}%", ViewBag.AjlounPercentage);
        }
    }

    @@-webkit-keyframes fade-in-text {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }*@
</style>
@*<section class="bar-graph bar-graph-horizontal bar-graph-one">
    <div class="bar-one">
        <span class="year">Irbid</span>
        <div class="bar" data-percentage=" @String.Format("{0}%", ViewBag.IrbidPercentage)"></div>

    </div>
    <div class="bar-two">
        <span class="year">Amman</span>
        <div class="bar" data-percentage="@String.Format("{0}%", ViewBag.AmmanPercentage)"></div>
    </div>
    <div class="bar-three">
        <span class="year">Jarash</span>
        <div class="bar" data-percentage="@String.Format("{0}%", ViewBag.JarashPercentage)"></div>
    </div>
    <div class="bar-four">
        <span class="year">Ajloun</span>
        <div class="bar" data-percentage=" @String.Format("{0}%", ViewBag.AjlounPercentage)"></div>
    </div>
</section>*@

@{ sight.Models.sightEntities db = new sight.Models.sightEntities();
    sight.Models.city Type = new sight.Models.city();
    sight.Models.photo_sessions sess = new sight.Models.photo_sessions();

    var viewBag = new Dictionary<string, object>();

    var allCount = db.photo_sessions.Count();
    ViewBag.allCount = allCount;

    var cities = db.cities.ToList(); // جلب جميع المدن

    foreach (var city in cities) // حلقة لجلب بيانات كل مدينة
    {
        var cityName = city.cityName;

        int cityCount = @ViewBag.cityCount;

        // حساب النسبة المئوية لكل مدينة
        decimal cityPercentage = cityCount > 0 ? Math.Round((decimal)cityCount / allCount * 100, 1) : 0;

        // تعيين النسبة المئوية في ViewBag بناءً على اسم المدينة
        ViewBag[$"count{cityName}"] = cityCount;
        ViewBag[$"percentage{cityName}"] = cityPercentage;

    }


    foreach (var city in ViewBag.Cities)
    {
        var percentage = (int)ViewBag[$"{city}Percentage"];

        <div class="bar-@city.ToLower()">
            <span class="year">@city</span>
            <div class="bar" data-percentage="@percentage%"></div>
        </div>

        <style>
        @@-webkit-keyframes show-bar-@city.ToLower() {
            0% {
                width: 0;
            }
            100% {
                width: @percentage%;
            }
        }
        </style>
    }
}













