@model IEnumerable<sight.Models.comment>

@{
    Layout = null;
}
<style>
    .table td::-webkit-scrollbar {
        width: 0.1em;
        height: 10px;
        background-color: #f8f9fa;
    }

    .table td::-webkit-scrollbar-thumb {
        background-color: #555;
    }

        .table td::-webkit-scrollbar-thumb:hover {
            background-color: darkorange;
        }
</style>


@foreach (var item in Model)
{
    <hr />
    <table class="table-bordered table table-hover table-responsive">

        <tr>
            <th>
                Comment:
            </th>
            <td style=" overflow: auto; ">
                <p style="height:20px"> @Html.DisplayFor(modelItem => item.comment1)</p>
            </td>

        </tr>
        <tr>
            <th>
                Date:
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.created_at)
            </td>
        </tr>

        <tr>
            <th>
                Name:
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.client.fullName)
            </td>

        </tr>


        <tr>
            <td colspan="2">
                @Html.ActionLink("Delete", "Delete", "Account", new { id = item.id }, null)

                @if (!item.is_approved)
                {
                    @Html.ActionLink("Accept", "Accept", new { id = item.id }, new { @class = "btn btn-success" })

                }
                else if (item.is_approved)
                {
                    @Html.ActionLink("Hide", "Hide", new { id = item.id }, new { @class = "btn btn-light" })

                }

            </td>
        </tr>
    </table>
}
